body {
  background: url("mic.jpg") no-repeat center center fixed;
  background-size: cover;
}

label {
  font-weight: bold;
  color: white;
  margin-right: 3px;
}

form {
  position: fixed;
  left: 10px;
  top: 20px;
}

#titleBar {
  position: fixed;
  bottom: 10px;
  left: 0px;
  right: 0px;
  background-color: #C9C9C9;
  opacity: 0.6;
  width: auto;
  text-align: center;
}

#currentlyPlaying {
  /*color: #0100FF;*/
  color: red;
  font-family: Arial;
  font-size: 50px;
  text-transform: capitalize;
  margin: 0;
}

.button {
  width: 80px;
  height: 80px;
  background-color: #A1A1A1;
  border-radius: 80px;
  text-align: center;
  float: left;
}

.button:hover {
  background-color: red;
}

#nextButtonI {
  position: relative;
  top: 8%;
  left: 8%;
}

#prevButtonI {
  position: relative;
  top: 8%;
  right: 8%;
}

#sButtonI {
  position: relative;
  top: 10%;
}

#allButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 220%);
}

#songMenu {
  display: inline;
  float: right;
}

#tracklist {
  list-style-type: none;
}

li {
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial;
  font-size: 20px;
  color: white;
  margin: 10px;
}

li:hover {
  text-decoration: underline;
  color: red;
}
